body {
  background: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(5, 3, 43, 1) 100%
  );
  color: rgb(204, 204, 204) !important;
}
.input-group-append {
  position: relative;
  display: flex;
  z-index: 900;
  right: 40px; 
  color:rgb(179, 179, 179)
}

.input-group-append button {
  padding: 0;
  margin: 0;
}
.search-container {
  transition: margin-top 0.5s ease-in-out;
}

.search-results {
  margin-top: 0;
}
